nav img {
  height: 50px;
  width: 5opx;
  border: 1px solid red;
  border-radius: 20px; }

header {
  background-color: black; }
  header h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-style: normal; }
  header p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    color: red; }
  header img {
    height: 80px;
    width: 80px;
    border: 3px solid white;
    border-radius: 10px; }
  @media screen and (min-width: 768px) {
    header h1 {
      font-size: 40px; }
    header p {
      font-size: 30px; }
    header img {
      height: 200px;
      width: 300px;
      border-radius: 30px;
      border-style: double; } }
