footer {
    background-color: black;
    font-size: 15px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;

    li a {       
        text-decoration: none;
        color: rgb(69, 67, 236); 
    }
    a:hover {
        background-color:green;
    }



}